# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python.
2. R.
3. SQL.
4. Julia.
5. Scala.

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. SciKit-Learn

|Data Science Tools|
|---------------|
|TensorFlow|
|Hadoop|
|Git|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)
# Result: 9

9

In [3]:
code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)
# Result: 24

24

In [4]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)
# Result: 65449.84694978735

65449.84694978735

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 3.3333333333333335 hours, 0 mins.

_Objectives :_

* List popular languages for Data Science
* List popular Libraries for Data Science
* How to write comment in cell

## Author
MD Tafhim Sadman Islam